html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../framework/bootstrap.min.css")
        script(src="../framework/jq/jquery.1.11.1.min.js")
        script(src="../framework/bootstrap.min.js")
        script(src="../framework/vue/vue.js")
        script(src="../framework/vue/vue-router.js")
        script(src="../javascripts/home.js")
        title 云企商通 
    body
     #container.container-fluid
      .row
       .col-sm-12
        .col-sm-1 
         img(src="../images/psb.jpg", alt="",width="100",height="73")
        .col-sm-2
          h2 云企商通 
        .col-sm-7 
         ul.list-inline
          li(v-for="item in apply")
           router-link(:to="item.url")
            h2 {{item.name}}
        .col-sm-2    
         .dropdown
          a#dropdownMenu1.dropdown-toggle(data-toggle="dropdown",aria-haspopup="true",href="#",aria-expanded="true",style="white-space:pre-wrap") 什么什么的公司名字有多长写多长
           span.caret 
          ul.dropdown-menu(aria-labelledby="dropdownMenu1")
           li
            a#gridSystemModal(href="#",data-toggle="modal",data-target="#myModal",type="button") 切换企业
           li
            a(href="#") 退出
            
            //-  Button trigger modal

      .row     
       .col-sm-12
        router-view
              //- 模态框
      .modal.fade#myModal.bs-example-modal-sm(tabindex="-1",role="dialog",aria-labelledby="gridSystemModalLabel")
       .modal-dialog(role="document")
        .modal-content
         .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
           span(aria-hidden="true") &times;
          h4.modal-title#gridSystemModalLabel 店铺切换
         .modal-body
          .row
           .col-md-12
            .list-group 
              a.list-group-item(v-for="comp in compName",:data-sn="comp.accountSn",href="#") {{comp.companyName}}
        //-  .modal-footer
        //-   button.btn.btn-default(data-dismiss="modal",type="button") 取消   
        //-   button.btn.btn-primary(type="button",@click="switchComp") 确定      
     template#UserProfile
      .col-sm-12
       .col-sm-2
        ul.list-group 
         li.list-group-item
          router-link(to="/") 应用
       .col-sm-10
        h3 应用
        .col-sm-12 
         .row
          router-link(to="/",v-for="items in appList",role="button") 
           .col-sm-4.col-md-2
            .thumbnail
             img(src="../images/psb.jpg", alt="",width="100",height='100')
             .caption
              h3(style="text-align:center") {{items.name}}
          
     template#UserHome 
      .box 占位置

           



