doctype html
html(lang="en")
  head
    title= pageTitle
    link(href="../stylesheets/main.css",rel="stylesheet")
     
  body
    .container
      .flex_box
        .flex_item 1111
        .flex_item 2222
        //- div(style="height:300px;line-height:30px") 4444
        //- div(style="height:200px") 5555
        //- div(style="height:100px") 6666
        .flex_item(style="width:100px;height:300px") 7777
        .flex_item(style="width:200px;height:200px") 8888
        .flex_item(style="width:300px;height:100px") 9999
        .flex_item 3333
        .flex_item 0000
         