doctype html
html(lang="en")
  head
    title= pageTitle
    link(href="../stylesheets/main.css",rel="stylesheet")
     
  body
    .container
      .flex_box
        .flex_item 1111
        .flex_item 2222
         