doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    script(src="../javascripts/rem.js")
    script(src="../javascripts/directives.js")
    link(href="../stylesheets/main.css",rel="stylesheet")

  body
    .containers.hide
     .scrollWrap
      .loveBox
        img(src="../images/index.jpg", alt="")
      .btnbox
        .btn
        .btn
        .btn
        script.
       
        //-  切换
      .saveLove
       .lovesLv
         .lv No.01
         .pic 
            img(src="../images/psb.jpg", alt="")    
         .txts
          p 昵称
          span ID:000000
         .morau
          p 收到表白
          span 12345个
       .lovesLv
         .lv No.02
         .pic 
            img(src="../images/psb.jpg", alt="")    
         .txts
          p 昵称
          span ID:000000
         .morau
          p 收到表白
          span 12345个
       .lovesLv
         .lv No.03
         .pic 
            img(src="../images/psb.jpg", alt="")    
         .txts
          p 昵称
          span ID:000000
         .morau
          p 收到表白
          span 12345个
       .lovesLv
         .lv No.04
         .pic 
            img(src="../images/psb.jpg", alt="")    
         .txts
          p 昵称
          span ID:000000
         .morau
          p 收到表白
          span 12345个
       .lovesLv
         .lv No.05
         .pic 
            img(src="../images/psb.jpg", alt="")    
         .txts
          p 昵称
          span ID:000000
         .morau
          p 收到表白
          span 12345个         

      .saveLove(style="display:none")
        .inputgl
          input(type="text",placeholder="输入ID")
          span 
        .inputlz
          img(src="../images/psb.jpg", alt="")    
          .nameBox
            span 你好啊
            p ID:123456
        .inputlx(contenteditable="true",placeholder="输入告白")
        .inputbt
          span 取消表白 
          span 发送
      .saveLove(style="display:none")
        p.txt XXX对XXX说我爱你哦
        p.txt XXX对XXX说我爱你哦哈哈哈哈哈哈哈哈哈哈哈哈哈
        p.txt XXX对XXX说我爱你哦
        p.txt XXX对XXX说我爱你哦      

        //- .flex_box
        //-   .flex_item 1111
        //-   .flex_item 2222
          //- div(style="height:300px;line-height:30px") 4444
          //- div(style="height:200px") 5555
          //- div(style="height:100px") 6666
          //- .flex_item(style="width:100px;height:300px") 7777
          //- .flex_item(style="width:200px;height:200px") 8888
          //- .flex_item(style="width:300px;height:100px") 9999
          //- .flex_item 3333
          //- .flex_item 0000
          