@charset "UTF-8";
/*! Vendor*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/*! Helpers*/
/*常用颜色*/
/*！layout 布局*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*清除UC默认*/
* {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  font-family: "黑体";
  font-size: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #555;
}

html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.1s;
}

html i,
html em,
html b,
html strong,
html span {
  -webkit-transition: none;
  transition: none;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  display: flex;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
  overflow: hidden;
}

.containers {
  width: 100%;
  *zoom: 1;
  display: flex;
}
.containers:before, .containers:after {
  content: "";
  display: table;
}
.containers:after {
  clear: both;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #555;
}
a:active {
  color: #dedede;
}

button,
input[type=button] {
  outline: none;
  border: none;
  cursor: pointer;
}

/*! Component 组件*/
section .nav_header {
  height: 40px;
  line-height: 40px;
  display: flex;
  background: #f2f2f2;
}
section .nav_header > span {
  flex: 1;
  text-align: center;
}
section .nav_header > span.active {
  background: #0a2165;
  color: #f2f2f2;
}
section section .lately ul {
  text-align: center;
  display: flex;
}
section section .lately ul li {
  flex: 1;
  padding: 10px 0;
  line-height: 1.2;
}
section section .lately ul li > span {
  font-size: 18px;
}
section section .lately .payUp .dates img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  float: left;
  margin-top: 10px;
}
section section .lately .payUp .payMsg {
  display: flex;
}
section section .lately .payUp .payMsg > span {
  flex: 1;
}
section section .lately .payUp .payMsg > span:nth-last-child(1) {
  text-align: right;
}
section section .lately .payUp .btm {
  text-align: center;
}
section section .lately .pays {
  display: flex;
  padding: 10px 0;
}
section section .lately .pays > section {
  flex: 1;
  text-align: center;
}
section section .lately .pays > section > span {
  font-size: 18px;
}

.borders, section section .lately ul, section section .lately .payUp .dates, section section .lately .payUp .payMsg, section section .lately .pays {
  border-bottom: 1px solid #ccc;
}

.h30, section section .lately .payUp .dates, section section .lately .payUp .payMsg, section section .lately .payUp .btm {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

.selecteds, section section .lately ul li .selected, section section .lately .pays > section .selected {
  outline: none;
  height: 30px;
  width: 70px;
  border-radius: 30px;
  padding: 0 10px;
}

.none {
  display: none;
}
