@charset "UTF-8";
/*! Vendor*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/*! Helpers*/
/*常用颜色*/
input[type="select"],
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
input[type="reset"],
textarea, input[type="number"], button,
input[type=button] {
  outline: none;
  border: none;
}

/**
    lighten(#cc3, 10%) // #d6d65c
　　darken(#cc3, 10%) // #a3a329
　　grayscale(#cc3) // #808080
　　complement(#cc3) // #33c
*/
/*
    通过这个函数来引入图片，例如：
    #wrapper{ @include bg('../img/sample.jpg') }
    这段代码经过编译后便会生成如下两句代码
    #wrapper{ background-image:url('../img/sample.jpg'); }
    .webp #wrapper{ background-image:url('../img/sample.jpg.webp'); }
 */
/*！layout 布局*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*清除UC默认*/
html,
body {
  font-family: "微软雅黑";
  font-size: 16px;
  width: 100%;
  height: auto;
  background: #fff;
  user-select: none;
}

html *,
html *:before,
html *:after {
  box-sizing: border-box;
}

html i,
html em,
html b,
html strong,
html span {
  -webkit-transition: none;
  transition: none;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  display: flex;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
  overflow: hidden;
}

.containers {
  width: 100%;
  *zoom: 1;
  display: flex;
}
.containers:before, .containers:after {
  content: "";
  display: table;
}
.containers:after {
  clear: both;
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  margin: 0;
}

select {
  outline: none;
  appearance: none;
  border: solid 1px #ccc;
}

input[type="select"],
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
input[type="reset"],
textarea {
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input[type="number"] {
  appearance: textfield;
}

a {
  text-decoration: none;
  color: #333;
}

button,
input[type=button] {
  cursor: pointer;
}

.scale {
  transform: scale(1);
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

/*! Component 组件*/
.complain_div h5 {
  font-size: .5rem;
  color: #8f8f8f;
  line-height: 1.25rem;
  height: 1.25rem;
  padding: 0 .5rem;
}
.complain_div ul li {
  line-height: 1.25rem;
  height: 1.25rem;
  padding: 0 .5rem;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}
.complain_div h4 {
  color: #333333;
}

.complain_div_3 .complain_input {
  line-height: 1.25rem;
  height: 1.25rem;
  padding: 0 .5rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: .5rem;
}
.complain_div_3 .complain_text {
  line-height: .7rem;
  height: 5rem;
  padding: .5rem;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  font-size: .5rem;
}
.complain_div_3 h4 {
  padding: .5rem;
  line-height: .6rem;
  font-size: .5rem;
}
.complain_div_3 .button {
  height: 1.5rem;
  line-height: 1.5rem;
  width: 9rem;
  background: #FF4445;
  color: #fff;
  margin-left: .5rem;
  font-size: .5rem;
  border-radius: 5px;
  margin-bottom: .5rem;
}

.complain_div_4 {
  background: #fff;
  height: 15rem;
}
.complain_div_4 img {
  height: 3rem;
  width: 3rem;
  margin: 3rem 3.5rem .5rem;
}
.complain_div_4 h4 {
  font-size: .5rem;
  text-align: center;
  margin-bottom: .5rem;
}
.complain_div_4 h5 {
  font-size: .4rem;
  line-height: 0.6rem;
}
.complain_div_4 h5 a {
  color: #097cff;
}
.complain_div_4 .button {
  height: 1.5rem;
  line-height: 1.5rem;
  width: 9rem;
  background: #FF4445;
  color: #fff;
  margin-left: .5rem;
  font-size: .5rem;
  border-radius: 5px;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.none {
  display: none;
}
