.cqLogin {
    top: 65px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center; //居中
    .box_justify {
        @include wh(300px, 400px);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        .box_cq {
            margin: 50px auto;
            @include outline;
            @include wh(200px, 200px);
        }
        p {
            margin: 50px auto;
        }
    }
}

#particles {
    background-image: url("../images/back.jpg");
}