.loginPage {
    flex-direction: column;
    .logo {
        width: 100%;
        // @include wh(100%, 50px);
        // @include outline;
        padding: 27px;
        ul {
            display: flex;
            li {
                img {
                    height: rem(60);
                }
                a {
                    font-weight: 700;
                    color: #3083E7;
                    font-size: rem(30);
                    line-height: rem(60);
                    padding: 0 20px;
                }
            }
        }
    }
    .backLogin {
        @include text-hide;
        background: url('../images/bg.jpg')no-repeat center center;
        min-height: 500px;
        width: 100%;
        display: flex;
        margin-bottom: 50px;
        .left {
            flex: 1;
        }
        .right {
            flex: 1;
            display: flex;
            align-items: center;
            .loginsLeft {
                flex: 2;
                .loginBox {
                    overflow: hidden;
                    width: 380px;
                    section {
                        &:nth-child(1) {
                            background: #ffffff;
                            border-radius: 10px;
                        }
                        padding: 30px;
                        .warning {
                            color: red;
                            text-align: center;
                        }
                        .tabs {
                            line-height: 50px;
                            display: flex;
                            span {
                                flex: 1;
                                text-align: center;
                                cursor: pointer;
                                &.act {
                                    border-bottom: 2px solid #3083E7;
                                }
                            }
                        }
                        .tabsInput {
                            .inputSel {
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                // @include outline;
                                margin-bottom: 10px;
                                input {
                                    @include wh(256px,
                                    40px);
                                    border-radius: 10px;
                                    text-indent: 10px;
                                    border: 0;
                                    outline: 0;
                                }
                                i {
                                    width: 40px;
                                    height: 40px;
                                    text-align: center;
                                    line-height: 40px;
                                    font-size: 30px;
                                    margin-right: 10px;
                                }
                            }
                            .hide {
                                display: none;
                            }
                            #codeBtn {
                                border-radius: 10px;
                                background: #fff;
                            }
                        }
                        .loginBtn {
                            width: 325px;
                            height: 45px;
                            color: #fff;
                            border-radius: 10px;
                            background: #3083E7;
                        }
                    }
                }
            }
            .loginsRight {
                flex: 1;
                .qrCode {
                    // @include outline(blue);
                    @include wh(200px,
                    200px);
                    .imgCode {
                        @include wh(180px,
                        180px);
                        @include outline(blue);
                        margin: 0 auto;
                    }
                    .qrCodeTxt {
                        // @include outline(blue);
                        font-size: 14px;
                        line-height: 30px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .footer {
        p {
            text-align: center;
            line-height: 30px;
        }
        margin-bottom: 50px;
    }
}