@charset "UTF-8";
//栅格布局配置.引入susy库
$susy:( global-box-sizing:$susyBoxSizing, columns:$susyColumns, //列
gutters:$susyGutters, //间隔
gutter-position:inside //位置
);
@include border-box-sizing();

/*清除UC默认*/

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// 清除苹果样式
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="select"],
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
input[type="reset"],
textarea {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="number"] {
    -moz-appearance: textfield;
}

html,
body {
    font-family: $fontFamily;
    font-size: 100%;
    font-size: 16px;
    width: 100%;
    height: auto; // background: nth($bgcolor, 1);
    user-select: none;//禁止选中文字
}

html *,
html *:before,
html *:after {
    box-sizing: border-box; // transition: 0.1s;
}

html i,
html em,
html b,
html strong,
html span {
    -webkit-transition: none;
    transition: none;
}

.container {
    @include container($containerWidth); //最大宽度
    @include clearfix;
    display: flex;
}

.containers {
    width: 100%;
    @include clearfix;
    display: flex;
}

// @include box-shadow(0px 1px 1px 0px #333);
a {
    text-decoration: none;
    color: #555;
    &:active {
        color: rgb(222, 222, 222);
    }
}

button,
input[type=button] {
    outline: none;
    border: none;
    cursor: pointer;
}

.scale {
    transform: scale(0)!important
}

.none {
    display: none;
}